/* responsive for mobile */
@media screen and (max-width: 600px) {
  body {
    padding: 20px;
  }
  .search,
  .popular-section,
  .top-row,
  .middle-row,
  .bottom-row {
    flex-direction: column;
  }
  .primary-heading {
    font-size: 20px;
  }
  .primary-text {
    font-size: 14px;
  }
  .menu-section {
    display: none;
  }
  .smarter-travel {
    width: 50%;
  }
  .smarter-travel h2 {
    font-size: 21.543px;
  }
  .menu-bar {
    display: inline;
  }
  .search-engine {
    padding: 32px 15px;
  }
  .search-engine-title {
    color: #fff;
    font-size: 22px;
    font-weight: 800;
    margin: 0px 0px 5px 0px;
  }
  .search-engine p {
    padding: 0;
  }
  .popular-content {
    width: 100%;
  }
  .popular-section {
    gap: 24px;
  }
  .top-row,
  .middle-row,
  .bottom-row {
    position: static;
    width: 335px;
    height: 176px;
  }
}
