/* responsive for mobile */
@media screen and (max-width: 600px) {
  header,
  main {
    padding: 20px;
  }
  .search,
  .popular-section,
  .top-row,
  .middle-row,
  .bottom-row,
  .choose-card,
  .newsletter,
  .lost {
    flex-direction: column;
  }
  .primary-heading {
    font-size: 20px;
  }
  .primary-text {
    font-size: 14px;
  }
  .menu-section {
    display: none;
  }
  .smarter-travel {
    width: 50%;
  }
  .smarter-travel h2 {
    font-size: 21.543px;
  }
  .menu-bar {
    display: inline;
  }
  .search-engine {
    padding: 32px 15px;
  }
  .search-engine-title {
    color: #fff;
    font-size: 22px;
    font-weight: 800;
    margin: 0px 0px 5px 0px;
  }
  .search-engine p {
    padding: 0;
  }
  .popular-content {
    width: 100%;
  }
  .popular-section {
    gap: 24px;
  }
  .pink-card {
    width: auto;
  }
  .newsletter-text {
    height: auto;
    width: auto;
  }
  .newsletter-img img {
    width: 100%;
    height: 100%;
  }
  .box {
    width: 245px;
    translate: 82px -167px;
  }
  footer {
    padding: 30px 20px;
  }
  .footer-description {
    padding: 0px 24px;
  }

  /* responsive styles for destination images */
  .destination-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-content: center;
  }

  .top-row img,
  .middle-row img,
  .bottom-row img {
    width: 335px;
    height: 176px;
    height: auto;
  }

  .destination-text {
    font-size: 18px;
  }

  .choose-heading p {
    padding: 10px;
  }

  .search-engine {
    background-size: cover;
    background-position: center;
  }
  .deal-content,
  .deal-content-2 {
    margin-left: 16px;
    margin-right: 16px;
    top: 9px;
  }
  .symbol {
    gap: 15px;
  }
  .info {
    flex-wrap: wrap;
  }
  .unique {
    height: auto;
  }
  .lost {
    gap: 50px;
  }
  .video img {
    height: 320px;
  }
  .video h2 {
    bottom: 214px;
  }
}
